.silver_items{
	width: 33%;
}

.py-5_silver_list{
	padding-top: 6rem;
}

.py-5_silver_list_ff{
	padding-top: 2rem;
}

.section_custum_filter{
	padding-top: 210px;
}

.badge{
	--bs-badge-padding-x: 1em;
    --bs-badge-padding-y: 0.3em;
    --bs-badge-font-size: 0.75em;
    --bs-badge-font-weight: 700;
    --bs-badge-color: #fff;
    --bs-badge-border-radius: 0.375rem;
    display: inline-block;
    padding: var(--bs-badge-padding-y) var(--bs-badge-padding-x);
    font-size: var(--bs-badge-font-size);
    font-weight: var(--bs-badge-font-weight);
    line-height: 1;
    color: var(--bs-badge-color);
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: var(--bs-badge-border-radius);
    position: relative;
    top: -1px;
    background-color: #feb900;
}